.portfolio{
    width: 100%;
    background-color: #f4f4f4;
    padding: 100px 0;
    .content{
        @include clearfix;
        .logo{
            width: 49%;
            float: left;
            .text{
                margin-bottom: 20px;
                h2{
                    color: $black;
                    font-weight: 300;
                    font-size: 30px;
                    padding: 10px 0;
                    strong{
                        font-weight: 600;
                    }
                }
                h3{
                    color: $black-l;
                    font-size: 18px;
                    padding: 10px 0;
                    font-weight: 300;
                }
            }
            .img{
                padding: 40px 0;
                img{
                    width: 160px;

                }
            }
        }
        .user{
            width: 49%;
            float: left;
            text-align: center;
            img{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                margin-bottom: 20px;
            }
            p{
                font-size: 14px;
                width: 60%;
                margin: auto;
                color: $black-l;
                padding: 20px;
                i{
                    font-size: 26px;
                    padding: 0 10px;
                }
            }
        }
    }
}